.list-recipes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 25px; */
    gap:20px;
    text-align: center;
}

.fa-times-circle {
    color: var(--orange-color);
    font-size: 20px;
}

