.main-home {
    display: flex;  
    justify-content: space-between; 
    margin: 50px;
}

.left-home {
    margin: auto;
    font-size: 2em;
}


.find-recipe-btn {
    background-color: var(--white-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 0.8em;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
}

.logo-home {
    width: 200px;
}


