.main-home {
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    height: 88vh;
}

.left-home {
    width: 40%;
    font-size: 2em;
}


.find-recipe-btn {
    background-color: var(--white-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 0.8em;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
}
.find-recipe-btn:hover {
    background-color: var(--orange-color);
   color: var(--white-color)
}

.logo-home {
    width: 200px;
}

.fridge-container {
    width: 40%;
    height: auto;
}

.fridge {
    width: 100%;
}


