@import url("./vars.css");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");



body {
    font-family: 'Comfortaa';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
