.nav {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    height: 8vh;
    padding: 10px;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.title-logo {
  width: 120px;
}
.logo-fridge {
    width: 60px;
}

.link.title {
  font-size: 25px;
  position: absolute;
  color: var(--orange-color);
  left: 50%;
  transform: translate(-50%);
  margin: 0px;
}

.link.signin {
  position: absolute;
  right: 50px
}

.link.logo {
  position: absolute;
  left: 50px;
  display: flex;
  align-items: center;
  gap: 20px
}
.link {
    text-decoration: none;
    color:var(--orange-color);
    font-size: 19px;
}

.link:hover {
  font-weight: bolder;
}

@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }