@keyframes wiggle {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(20deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

.ingredient-add-button {
    border: none;
    background-color: var(--white-color);
    color: var(--orange-color);
    font-size: 30px;
    margin: 15px;
}

.ingredient-delete {
    border: none;
    background-color: var(--white-color);
    color: var(--orange-color);
    font-size: 18px;
}

.add-ingredient {
    margin: 5px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    border: grey;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.12);
}

.one-ingredient {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ingredient-image:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.ingredient-image {
    width: 40px;
}
